@media only screen and (max-width: 1400px) {
    .header-responsive-li{
        padding-left: 20px !important ;
        padding-right: 20px !important;
        margin-left: 20px !important;
        margin-right: 20px !important;
        
    }
    .header-responsive-button{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .section-five-img2{
        height: 300px !important;
    }
    .section-five-img{
        height: 500px !important;
    }
    .section-five-img3{
        height: 300px!important;
    }
}
@media only screen and (max-width: 992px) {
    .footer-icons{
        width: 15%;
    }
    .header-responsive-text{
        font-size: 1em !important;
    }
    .item-footer-h1{
        font-size: 3em !important;
    }
    .header-responsive-input button{
        display: flex;
        flex-direction: row !important;
        justify-content: end;
        align-items: flex-end;
        margin-bottom: 10px;
    }
    .section-five-img2{
        height: 100% !important;
    }
    .section-five-img{
        height: 500px !important;
    }
    .section-five-img3{
        height: 100%!important;
    }
}
@media only screen and (max-width: 768px) {
    .header-responsive-input {
        align-items: center !important;
        justify-content: center !important;
    }
    .header-responsive-input button{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .section-five-font h1{
        font-size: 1.5em !important;
    }
    .section-five-font p{
        font-size: 1em !important;
    }
    .section-one-title{
        width: 100% !important;
    }
    .section-one-title p{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .section-six-parraf p{
        width: 100% !important;
    }
    .section-five-img2{
        height: 100% !important;
    }
    .section-five-img{
        height: 250px !important;
    }
    .section-five-img3{
        height: 100%!important;
    }
}
@media only screen and (max-width: 576px) {
    .section-five-img2{
        height: 250px !important;
    }
    .section-five-img{
        height: 250px !important;
    }
    .section-five-img3{
        height: 250px !important;
    }
}
