@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
body{
    font-family: 'Tapestry', cursive !important;
}
#header{
    background-image: url("../img/bg5.svg");
    background-size: cover;
    
    color: #fbf1b1 !important;
}
.btn-primary{
    color:#fbf1b1 !important ;
    background-color: #0f0f0e !important;
    border: #fbf1b1 !important;
}
.btn-secondary{
    color:#fbf1b1 !important ;
}
.btn-outline-success{
    background-color: #0f0f0e !important;
}
.nav-item a{
    color: #fbf1b1 !important;
}
.navbar{
    color: aliceblue !important;
}
.item-footer-h1{
    font-size: 6rem !important;
}
.section-one-img >img{
    height: 200px;
}
.section-one{
    background-image: url("../img/bg6.svg");
    background-size: cover;
    color: #f3bb79 !important;
}
.section-two{
    background-image: url("../img/bg7.svg");
    background-size: cover;
}
.sectio-tree-font{
    background-image: linear-gradient(90deg, rgba(0, 229, 255, 0.459) 0%, rgba(255, 0, 247, 0.404) 35%),url("../img/soldado2.jpg");
    background-size: cover;

}
.sectio-tree-font :hover{
    color: black !important;
}
.sectio-tree-font2 :hover{
    color: black !important;
}
.sectio-tree-font2{ 
    background-image: linear-gradient(90deg, rgba(0, 229, 255, 0.459) 0%, rgba(255, 0, 247, 0.404) 35%),url("../img/soldado3.jpg");
    background-size: cover;
}
.sectio-tree-font3{
    background-image: url("../img/soldado1.jpg");
    background-size:cover;
}
.section-four{
    background-image: url(../img/bg3.svg);
    background-size: cover;
}
.section-four-text{
    color: aliceblue;
}
.section-tree-textColor{
    
    color: #fbf1b1 !important;
}
.section-five-img{
    background-image: linear-gradient(90deg, rgba(0, 229, 255, 0.459) 0%, #664d03a1 35%),url("../img/bunker.jpg");
    background-size: cover;
}
.section-five-img2{
    
    background-image: linear-gradient(90deg, rgba(0, 229, 255, 0.459) 0%, #664d03a1 35%),url("../img/Vigilancia.jpg");
    background-size: cover;
}
.section-five-img3{
    background-image: linear-gradient(90deg, rgba(0, 229, 255, 0.459) 0%, #664d03a1 35%),url("../img/antiaerea.jpeg");
    background-size: cover;
}
.section-five-text{
    color: #f3bb79; 
}
.section-five-font{
    background-color: #664d03a1;
}
.section-six-img>img{
    height: 300px;
}
.section-six{
    background-image: linear-gradient(90deg, rgba(160, 180, 84, 0.459) 50%, #664d0300 50%);
}
.section-seven{
    background-image: url("../img/bg8.svg");
    background-size: cover;
}
.footer-icons{
    width: 10%;
}
footer{
    background-image: url("../img/bg9.svg");
    background-size: cover;
    color: aliceblue !important;
}
.list-group-item{
    color: aliceblue !important;
}
.navbar-toggler{
    background: beige !important;
}
.navbar-brand{
    color: aliceblue !important;
}
